// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site:    1000px;
$width-left:    650px;
$width-right:   350px;

// Breakpoints
$break-small:   480px;
$break-medium:  620px;
$break-large:   800px;

// A standard margin
$spacer:        30px;

// A modest palette; see `_library.scss` for the color() function
$_color: (
  text: #333,
  link: steelblue,
  link-muted: steelblue,
  body-background: white
);
/* [POLICY SIZE] */
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 20px;
$font-size-5: 34px;
$font-size-6: 64px;
$font-size-7: 72px;
/* [COLOR PALETTE] */
$background-color: #131316;
$primary-color-text: white;
$accent-color: #ec7f23;
/* [TYPO] */
@font-face {
    font-family: Champagne_Limousines;
    src: url('fonts/champagne_limousines/Champagne & Limousines.ttf');
}
@font-face {
    font-family: Champagne_Limousines_Bold;
    src: url('fonts/champagne_limousines/Champagne & Limousines Bold.ttf');
}
/* [ELEMENTS CONFIG] */

#wrap-main, header, #wrap-footer, #wrap-footer footer, section{
  width:100%;
  padding:0px;
  margin: 0px;
  max-width: none;
}
header, #home, #about, #portfolio{
  height: 730px;
}
section{
  h2{
    font-family: "Champagne_Limousines_Bold";
    font-size: $font-size-6;
    text-align: center;
    text-transform: uppercase;
  }
  p{
    font-family: "Champagne_Limousines";
    font-size: $font-size-4;
    text-align: center;
    width: 80%;
    margin: auto;
  }
}
p{
  .bold{
    font-family: "Champagne_Limousines_Bold";
  }
  .accent{
    color:$accent-color;
  }
}

// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "ByG2M"
, theme-uri:                ""
, theme-author:             "Romain Bellande"
, theme-author-uri:         "http://berelindis.com"
);
